.sax {
    font-family: inherit;
    max-width: 800px;
    margin: auto;
}

.a {
    width: auto;
    height: auto;
    background-color: rgb(255, 85, 0);
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 100px;
    display: grid;
    margin-bottom: 40px;
}